
/* Your CSS Code here. */
main{
	width:150px;
	height:150px;
	background-color:black;
	display: flex;
    align-items: center;
    justify-content: center;
}
.hello-accio{
	color:#ffffff;
	margin-left: 32px ;
	padding: 10px;
}